@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    font-weight: 500;
    background-color: #343434;
    overflow: hidden;
}

ul{
    margin: 0;
}

ul{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: white;  
}

.home-content{
    display: flex;
    flex-direction: column;
}

.section{
    padding:5rem 0 2rem ;
}

.section-title{
    position:relative;
    font-size: 2.5rem;
    color: white;
    font-weight: 800;
    margin-top: 370px;
    margin-bottom: 1rem;
    margin-right: 25px;
    text-align: center;
    letter-spacing: .1rem;
      
}

.section-title h1{
    margin:0;
}

.section-desc{
    position:relative;
    font-size: 1.3rem;
    color: white;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 2rem;
    margin-right: 25px;
    text-align: center;
    letter-spacing: .1rem;
}

.section-desc h3{
    margin: 0;
}

.reco{
    
    align-self: center;
    justify-content: center;
    height: 5rem;
    width: 15rem;
    border-radius: 3rem;
    background-color: #00FF38;
    color: white;
    font-size: 1.3rem;
    opacity:50%;
}

.reco:hover{
    transform: translateY(-.25rem);
    opacity: 100%;
}

.bg-shape{
position: absolute;
width: 750px;
height: 619px;
left: 525px;
top: 240px;
background: #FFFFFF;
border-radius: 75px;
}

.recom-movie{
    display:block;
    text-align: center;
}


.submitnow{
    height: 3rem;
    width: 10rem;
    border-radius: 3rem;
    margin-top: 2rem; 
    justify-content: center;
    align-self: center;
    background-color: #00FF38;
    color: white;
    font-size: 1.3rem;
    opacity:50%;
}

.submitnow:hover{
    transform: translateY(-.25rem);
    opacity: 100%;
}

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.head1{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100;
}
.nav{
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rect1{
    position: absolute;
    width: 940px;
    height: 833px;
    left: 862px;
    top: -532px;
    background: #00A5D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    transform: rotate(-45deg);
    }

.rect2{
    position: absolute;
    width: 940px;
    height: 833px;
    left: 750px;
    top: -532px;
    background: rgba(0, 169, 222, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    transform: rotate(-45deg);
    }

.rect3{
    position: absolute;
    width: 940px;
    height: 833px;
    left: -100px;
    top: 600px;
    background: #00A5D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    transform: rotate(-45deg);
    }

.rect4{
    position: absolute;
    width: 940px;
    height: 833px;
    left:25px;
    top: 600px;
    background: rgba(0, 169, 222, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 60px;
    transform: rotate(-45deg);
    }

.page-title{   
    font-size: 4rem;
    font-weight: 800;    
    color: white;
    margin-top: 120px;
    margin-bottom: 0;
    margin-right: 60px;
    position: relative;
}

.page-title h1{
    margin: 0;;
}

@media screen and (max-width: 768px){
    .nav-menu{
        position:fixed;
        top: 3rem;
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        transition: .5s;
        background-color: #343434;
    }
}

.nav-item{
    margin-bottom: 2rem;
}

.nav-logo{
    height: 50px;
    width: 40px;
    margin-top: 30px;
}

.nav-toggle{
    font-size: 1.3rem;
    cursor: pointer;
}

.show{
    left: 0;
}

.active{
    position: relative;
}

.active::before{
    content: '';
    position: absolute;
    bottom: -5rem;
    left: 45%;
    width: 4px;
    height: 4px;
    top: 0;
    margin-top: 20px;
    background-color: white;
    border-radius: 50%;
}



.movieform input[type="text"]{
    font-size: 1.3rem;
}
.movieform i{
    font-size: 1.5rem;
}
.movieform {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    z-index: 2;
    width: 50vw;
    margin: 1rem auto;
    padding: 3rem;
    border-radius: 2rem;
}
svg{
    z-index: -2;
}
.options{
    display: none;
    flex-direction: row;
}



/* .radio{
    width: 10px;
    padding: 1px;
} */

.scroll-header{
    background-color: var(--White);
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

@media screen and (min-width: 769px){
    body{
        margin: 0;
    }

    .section{
        padding: 7rem 0 3rem;
    }

    .section-title::after{
        width: 76px;
    }

    .nav{
        height: 4.5rem;
    }

    .nav-menu{
        margin-left: auto;
    }

    .nav-list{
        display: flex;
    }

    .nav-item{
        margin-left:3rem;
        margin-bottom: 0;
    }

    .nav-toggle{
        display: none;
    }
}


@media screen and (min-width: 1024px){
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}