<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name ="author" content="Aditya Pathak,Akshat Jain, Jash Sharma, Manan Jain">
    <title>Get Recommended</title>
    <link rel="icon" href="">
    <link rel="stylesheet" href={% static 'css/main.css' %}>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="head1" id="header">
        <nav class="nav bd-grid">
            <div class="nav-toggle" id="nav-toggle">
                <i class='bx bx-grid-alt' ></i>
            </div>
            <a href="#" class="nav-logo">RECOMM.</a>
            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li class="nav-item"><a href="./home.html" class="nav-link">HOME</a></li>
                    <li class="nav-item"><a href="#" class="nav-link active">MOVIE</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">SERIES</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">RANDOM</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">DASHBOARD</a></li>
                </ul>
            </div>
        </nav>    
    </header>
    <main>
        <div class="bg-art">
            <svg class="rect1">
                <g>
                    <rect x="107" y="-25.3196" width="940" height="833" rx="60" transform="rotate(-45 107 -25.3196)" fill="#00A5D9"/>
                </g>
            </svg>
            <svg class="rect2">
                <g>
                    <rect x="-20" y="-20.3196" width="940" height="833" rx="60" transform="rotate(-45 -20 -20.3196)" fill="#00A9DE" fill-opacity="0.7" shape-rendering="crispEdges"/>
                </g>
            </svg>
        </div>
    </main>    
</body>
</html>